@charset "utf-8";

html,
body {
    overflow-x: hidden;
}

body {
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
i,
select,
section {
    margin: 0;
    padding: 0
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0
}

img {
    border: 0;
}

a {
    text-decoration: none;
    outline: 0
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

a img {
    max-width: 100%
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="email"] {
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: 0;
    border-radius: 5px;
    outline: 0
}

button {
    outline: 0;
    border: 0;
    font-family: "PingFang SC", "Microsoft YaHei"
}

.hidden {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left
}

.fr {
    float: right
}

.wrap {
    width: 100%;
    overflow-x: hidden;
}

.nav_bar {
    width: 100%;
    padding: 15px 0;
    position: fixed;
    z-index: 900;
    top: 0;
    background: #fff;
}

.nav_bar1 {
    width: 100%;
    padding: 15px 0;
    z-index: 900;
    top: 0;
    background: #fff;
}

.nav_bar_box {
    box-shadow: 0px 5px 30px 0px rgba(55, 56, 77, 0.06);
}

.nav_bar_center {
    width: 100%;
    width: 1100px;
}

.nav_center {
    width: 1100px;
    margin: 0 auto;
}

a.logo {
    display: inline-block;
    height: 40px;
    width: 130px;
    background: url(../images/logo.svg) no-repeat;
    /* background: url(../images/logo.png) no-repeat; */
}

.btn-group {
    margin-top: 2px;
}

.btn-group a {
    display: inline-block;
}

.login {
    background: transparent;
    color: #00ABFF;
    margin-right: 10px;
    width: 78px;
    height: 34px;
    border: 1px solid #00ABFF;
}

.btn.register {
    /*    background:linear-gradient(to right,rgba(0,183,255,1),rgba(0,128,255,1));    background:#0080FF\9;*/
    color: #fff;
}

.btn {
    position: relative;
    width: 80px;
    height: 36px;
    border-radius: 5px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transition: .25s;
    transition: .25s;
}

.gradient {
    background: #0080FF;
    background: -moz-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: -webkit-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: -o-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: linear-gradient(to right, #00B7FF 0%, #0080FF 100%);
}

.btn:hover {
    background: #0080FF;
    background: -moz-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: -webkit-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: -o-linear-gradient(right, #00B7FF 0%, #0080FF 100%);
    background: linear-gradient(to right, #00B7FF 0%, #0080FF 100%);
    color: #fff !important;
    box-shadow: 0px 0px 20px 3px rgba(0, 154, 255, 0.5);
}

.nav_ul {
    margin-right: 20px;
    margin-top: 2px;
}

.nav_ul li {
    float: left;
    height: inherit;
}

.nav_ul1 {
    margin-right: 20px;
    margin-top: 2px;
}

.nav_ul1 li {
    float: left;
    height: inherit;
}

.nav_ul li a {
    padding: 0 20px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    color: #909298;
}

.nav_ul1 li a {
    padding: 0 20px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    color: #909298;
}

.nav_ul li.cur a,
.nav_ul li a:hover {
    color: #1DACFC
}

.nav_ul1 li.cur a,
.nav_ul1 li a:hover {
    color: #1DACFC
}

.wrap_intro {
    width: 100%;
    height: 690px;
}

.wrap_intro_center {
    width: 1100px;
    margin: 0 auto;
    height: 450px;
}

.mei_pic {
    position: absolute;
    left: 57%;
    top: 100px;
    width: 59%;
    transition: left 3s;
    -webkit-transition: left 3s;
    -moz-transition: left 3s;
    -ms-transition: left 3s;
    -o-transition: left 3s;
}

.mei_pic.move {
    left: 41%;
}

.mei_pic img {
    width: 100%;
}

.intro_txt {
    font-family: PingFangSC-Light, "Microsoft YaHei";
    width: 500px;
    position: relative;
    z-index: 100;
    top: 234px;
    left: 0;
}

.intro_txt h1 {
    color: #232735;
    font-size: 40px;
    font-weight: normal;
    line-height: 60px;
}

.intro_txt p {
    font-size: 16px;
    color: #909298;
    line-height: 30px;
    margin-top: 35px;
}

.intro_btn {
    margin-top: 40px;
    /*  background:linear-gradient(to right,rgba(0,183,255,1),rgba(0,128,255,1));    background:#0080FF\9;*/
    border-radius: 5px;
    width: 200px;
    height: 48px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .25s;
    transition: .25s;
}

.intro_btn:hover {
    box-shadow: 0px 0px 20px 5px rgba(0, 154, 255, 0.5);
}

.mei_effect {
    width: 100%;
    background: url("../images/bg_line.png") repeat-x;
    height: 640px;
}

.effect_main {
    font-family: PingFangSC-Light, "Microsoft YaHei";
    position: relative;
    top: 120px;
    z-index: 99;
    width: 1100px;
    left: 50%;
    margin-left: -550px;
}

h1.effect_tit {
    color: #232735;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 80px;
}

.effect_item {
    width: 460px;
    padding: 35px 0 35px 90px;
    height: 80px;
}

.effect_line,
.effect_line2 {
    border-bottom: 1px #E5E6E9 dashed;
    height: 79px;
}

.effect_line,
.effect_line3 {
    border-right: 1px dashed #E5E6E9;
    width: 459px;
}

.effect_img {
    width: 80px;
    margin-right: 20px;
    display: inline;
}

.effect_img img {
    width: 100%;
}

.effect_txt {
    font-size: 20px;
    color: #232735;
    line-height: 80px;
    white-space: nowrap;
    display: inline;
}

.pro_all,
.custom_all {
    width: 1100px;
    margin: 0 auto;
}

.pro_tit {
    padding-top: 110px;
    text-align: center;
}

.pro_tit h1 {
    font-weight: normal;
    font-size: 36px;
    font-family: PingFangSC-Regular, "Microsoft YaHei";
    margin-bottom: 15px;
}

.pro_tit p {
    font-family: PingFangSC-Light, "Microsoft YaHei";
    font-size: 16px;
    color: #909298;
}

.pro_list {
    width: 950px;
    padding: 80px 0 80px 150px;
}

.pro_img {
    width: 375px;
}

.marginL {
    margin-right: 150px;
    display: inline;
}

.marginL2 {
    margin-right: 180px;
}

.marginL3 {
    margin-right: 138px;
}

.pro_txt h1 {
    color: #232735;
    font-family: PingFangSC-Regular, "Microsoft YaHei";
    font-weight: normal;
    font-size: 32px;
    margin-top: 22px;
}

.pro_txt h3 {
    color: #232735;
    font-family: PingFangSC-Light, "Microsoft YaHei";
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pro_txt p {
    color: #909298;
    font-size: 16px;
    line-height: 36px;
}

.pro_point {
    width: 100%;
    height: 636px;
    margin-top: 40px;
    background: linear-gradient(to right, rgba(0, 183, 255, 1), rgba(0, 128, 255, 1));
    background: #0080FF;
    position: relative;
}

.emoji {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}

#emojid {
    font-size: 20px;
}

#imageid {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    height: 50vw;
}

.pro_bg1,
.pro_bg2 {
    position: absolute;
    width: 374px;
}

.pro_bg1 {
    top: 0;
    left: 0;
    background: url("../images/bg1.png") left top no-repeat;
    height: 352px;
}

.pro_bg2 {
    right: 0;
    bottom: 0;
    background: url("../images/bg2.png") right bottom no-repeat;
    height: 363px;
}

.point_center {
    width: 1100px;
    margin: 0 auto;
}

.point_center .pro_tit h1 {
    color: #fff;
}

.point_center .pro_tit p {
    color: #fff;
    opacity: 0.5;
    filter: alpha(Opacity=50);
}

.point_list {
    margin-top: 80px;
    margin-right: -44px;
}

.point_item {
    text-align: center;
    color: #fff;
    width: 246px;
    margin-right: 40px;
    white-space: nowrap;
}

.point_img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.point_h3 {
    font-size: 16px;
    font-family: PingFangSC-Medium, "Microsoft YaHei";
    font-weight: normal;
    margin-bottom: 30px;
}

.point_item p {
    font-family: PingFangSC-Light, "Microsoft YaHei";
    font-size: 14px;
    line-height: 28px;
}

.custom_listAll {
    padding-top: 55px;
    position: relative;
    padding-bottom: 90px;
}

.custom_list {
    width: 1150px;
    margin-right: -50px;
    position: relative;
}

.custom_item2 {
    width: 260px;
    height: 100px;
    float: left;
    margin-right: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0px 10px 70px 0px rgba(55, 56, 77, 0.06);
}

.custom_item2 img {
    width: 260px;
    height: 100px;
    border-radius: 20px;
}

.contact {
    width: 100%;
    background: #F8F8FA;
}

.marBtn {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.contact_center {
    width: 1100px;
    margin: 80px auto 0;
    padding: 30px 0;
}

.contact_info p.info_p {
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 5px;
}

.info_p img {
    width: 22px;
}

.contact_info .info_p img,
.info_p span {
    display: inline-block;
    vertical-align: middle
}

.info_p span {
    font-family: PingFangSC-Light, "Microsoft YaHei";
    font-size: 15px;
    color: #3D4450;
    margin-left: 10px;
}

.contact_erwm {
    width: 240px;
    text-align: center;
}

.contact_erwm img {
    width: 152px;
    height: 152px;
}

.contact_erwm p {
    font-size: 14px;
    color: #232735;
    font-family: PingFangSC-Light;
}

.footer {
    width: 100%;
    border-top: 1px solid #EBEEF2;
    padding: 30px 0;
    background: #F8F8FA;
}

.footer p {
    text-align: center;
    font-family: PingFangSC-Regular, "Microsoft YaHei";
    font-size: 14px;
    color: #959BA6;
}

.fix_footer {
    display: none;
}

@media screen and (max-width: 1100px) {
    .wrap {
        overflow: auto;
    }

    .nav_center,
    .wrap_intro_center,
    .effect_main,
    .point_center,
    .pro_all,
    .custom_all,
    .contact_center {
        width: 94%;
    }

    .wrap_intro {
        height: 550px;
    }

    .intro_txt {
        width: 46%;
        top: 180px;
    }

    .effect_main {
        left: 3%;
        margin-left: 0;
    }

    .effect_img {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .effect_item {
        width: 50%;
        height: auto;
        padding: 30px 0;
    }

    .effect_txt {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        line-height: 24px;
        display: block;
        float: none;
        white-space: normal;
    }

    .effect_line,
    .effect_line3 {
        width: 49%;
    }

    .pro_list {
        width: 90%;
        padding: 40px 0 40px 5%;
    }

    .marginL,
    .marginL2,
    .marginL3 {
        margin-right: 5%;
    }

    .pro_img {
        width: 45%;
    }

    .pro_txt {
        width: 50%;
    }

    .pro_tit {
        padding-top: 80px;
    }

    .custom_list {
        width: 90%;
        margin-left: 5%;
    }

    .custom_item2 {
        width: 45%;
        margin-right: 5%;
    }

    .margin_f1,
    .margin_f {
        margin-left: 0;
    }

    .margin_t {
        margin-top: 0;
    }

    .pro_point {
        min-height: 636px;
        height: auto;
    }

    .point_list {
        margin-right: -4%;
    }

    .point_item {
        width: 46%;
        margin-right: 4%;
        margin-bottom: 4%;
        white-space: normal;
    }

    .point_img,
    .point_h3 {
        margin-bottom: 10px;
    }

    .point_item p {
        font-size: 12px;
    }
}

@media screen and (max-width: 820px) {
    .btn-group {
        display: none;
    }

    .menu {
        width: 30px;
        height: 30px;
        float: right;
        background-image: url("../images/menu.png");
        background-size: cover;
    }

    .nav_ul {
        float: none;
        position: fixed;
        top: 0;
        padding-top: 30px;
        background: #fff;
        left: 0;
        width: 100%;
        display: none;
        box-shadow: 0 0 1px rgba(55, 56, 77, 0.6);
    }

    .nav_ul1 {
        float: none;
        position: fixed;
        top: 0;
        padding-top: 30px;
        background: #fff;
        left: 0;
        width: 100%;
        display: none;
        box-shadow: 0 0 1px rgba(55, 56, 77, 0.6);
    }

    .nav_ul li {
        float: none;
    }

    .nav_ul1 li {
        float: none;
    }

    .nav_ul li a {
        display: block;
    }

    .nav_ul1 li a {
        display: block;
    }

    .nav_center,
    .wrap_intro_center,
    .effect_main,
    .point_center,
    .pro_all,
    .custom_all,
    .contact_center {
        width: 94%;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 10px;
        width: 30px;
        height: 30px;
        display: none;
        background: url(../images/../images/close.png);
        background-size: cover;
    }

    .wrap_intro {
        height: 550px;
    }

    .intro_txt h1 {
        font-size: 26px;
    }

    .intro_txt p {
        font-size: 14px;
    }

    .intro_txt {
        width: 100%;
        top: 120px;
    }

    .intro_txt p {
        width: 80%;
    }

    .mei_pic {
        top: 350px;
        left: 41%;
    }

    h1.effect_tit {
        margin-bottom: 30px;
        font-size: 24px;
    }

    .effect_line,
    .effect_line2 {
        border-bottom: none;
    }

    .effect_main {
        left: 3%;
        margin-left: 0;
    }

    .effect_img {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .effect_item {
        width: 50%;
        height: auto;
        padding: 30px 0;
    }

    .effect_txt {
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 12px;
        display: block;
        float: none;
        white-space: normal;
    }

    .effect_line,
    .effect_line3 {
        width: 50%;
        border-right: none;
    }

    .pro_list {
        width: 90%;
        padding: 40px 0 20px 5%;
    }

    .pro_tit h1,
    .pro_txt h1 {
        font-size: 24px;
    }

    .pro_tit p,
    .pro_txt h3,
    .pro_point h3 {
        font-size: 14px;
    }

    .pro_txt p {
        font-size: 12px;
    }

    .marginL,
    .marginL2,
    .marginL3 {
        margin-right: 0%;
    }

    .pro_img {
        float: none;
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .pro_txt {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .pro_tit {
        padding-top: 80px;
    }

    .custom_list {
        width: 90%;
        margin-left: 5%;
    }

    .custom_item2 {
        width: 45%;
        margin-right: 5%;
    }

    .margin_f1,
    .margin_f {
        margin-left: 0;
    }

    .margin_t {
        margin-top: 0;
    }

    .pro_point {
        min-height: 636px;
        height: auto;
    }

    .point_list {
        margin-right: -4%;
    }

    .point_item {
        width: 46%;
        margin-right: 4%;
        margin-bottom: 4%;
        white-space: normal;
    }

    .point_img,
    .point_h3 {
        margin-bottom: 10px;
    }

    .point_h3 {
        width: 40%;
        margin: 0 auto;
    }

    .point_item p {
        display: none;
    }

    .fix_footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        box-shadow: 0 -1px 10px 0 rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    .footer_btn {
        background-image: linear-gradient(-90deg, #00c2ff 0%, #008aff 100%);
        border-radius: 5px;
        height: 40px;
        margin: 5px auto;
        display: block;
        width: 92%;
        font-family: PingFangSC-Regular;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        border: 0;
    }
}

@keyframes alertBgAm {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100
    }
}

.alterBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*opacity: 0.8;*/
    z-index: 9999;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    opacity: 0;
    animation: alertBgAm .4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.alertParent {
    background: #ffffff;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    border-radius: 8px;
}

.alter {
    background-color: #ffffff;
    width: 700px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    border-radius: 8px;
    background-image: url('../images/alert.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /*margin: 0 auto;*/
    /*top: 50%;*/
    /*background-color: #ffffff;*/
    /*transform: translateY(-50%);*/
}

.alter-button {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 15px;
    background: url(../images/../images/close.png) no-repeat;
    display: inline-block;
    background-size: contain;
    cursor: pointer;
    display: block;
}

.fixedRight {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 200px;
    height: 331px;
}

.fixedRightImg {
    width: 100%;
    height: 100%;
}